body {
  background-color: yellowgreen;
}
h1 {
  color: palevioletred;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
p {
  color: palevioletred;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
.button {
  background-color: pink;
  color: palevioletred;
  border: 5px solid palevioletred
}